* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Poppins', sans-serif;
}


section {
    background-color: white;
}

.nav-bar {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    height: 500px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

ul.show {
    display: block;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
}



p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.subtext {
    font-size: 15px;
    font-weight:300;
}

.headline-container {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.headline {
    margin-left: 80px;
    margin-bottom: 150px;
}

.button {
    width: 200px;
    height: 55px;
    background-color:lime;
    border-radius: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: limegreen;
    cursor: pointer;
}

.button:active {
    background-color: lime;
}

.socials {
    padding-bottom: 200px;
}

.social {
    margin: 20px;
}

.second-section {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.projects-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
}

.portret {
    display: flex;
    align-items: center;
}

.picture {
   width: 300px;
   padding-left: 50px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px)  {
    .project-container {
        display: flex;
        flex-wrap: wrap;
       
    }
}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px gray;
    margin: 10px;
}

#project {
    padding-bottom: 30px ;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.hamburger:focus {
    outline: 0;
}

@media only screen and (max-width:1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: #313341;
        margin: 0px;
    }

    ul.show {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #313341;
    }

    .logo {
        display: none;
    }
}

.contact-me {
   background-color: #090a0a;
   padding: 40px 0;
   background-size: cover;
}

.contact-headline {
    text-align: center;
    color: white;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    padding: 20px 40px;
    outline: none;
    color: rgb(11, 12, 12);
    transition: 0.5s;
}

.contact-form-text:hover {
    box-shadow: 0 0 10px 4px #afc5db;
}

.contact-form-btn {
    float: right;
    border: 0;
    background: #313341;
    color: white;
    padding: 12px 50px;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover {
    background: #1c1d25;
}